<div class="row container-fluid">

    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="row align-items-center input-col  g-3">
            <div *ngIf="!IsLoggedIn">

                <form [formGroup]="loginForm" (ngSubmit)="AdminLogin()">

                    <div class="col text-center">
                        <div class="p-1">
                            <input formControlName="userName" type="text" placeholder="Brugernavn">
                        </div>

                        <div class="p-1">
                            <input formControlName="passWord" type="password" placeholder="Password">
                        </div>
                        <div class="p-1">
                            <button type="submit" [disabled]="!loginForm.valid" class="btn btn-dark ">log ind</button>
                        </div>

                        <div *ngIf="ErrorMsg != ''">
                            <label>{{ErrorMsg}}</label>
                        </div>

                    </div>
                </form>
            </div>

            <div *ngIf="IsLoggedIn">
                <div class="p-1 col text-center">
                    <button type="submit" (click)="AdminLogOut()" class="btn btn-dark ">Log ud</button>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-4"></div>




</div>
<router-outlet></router-outlet>