<nav class="navbar navbar-dark bg-dark ps-2">

    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="navbar-brand h1" routerLink="/user">ZBC Elev VPN {{ LoggedIn
                ?'(Admin)' : ''}}</a>

        </li>
    </ul>



    <ul *ngIf="LoggedIn" class="navbar-nav">
        <li class="nav-item">
            <a class="navbar-brand h1" routerLink="/admin-whitelist" routerLinkActive="active">Whitelist:</a>
            <a class="navbar-brand h1" routerLink="/admin-mailInfo" routerLinkActive="active">Følgemail:</a>
            <a class="navbar-brand h1" routerLink="/admin-passwordChange" routerLinkActive="active">Skift Password:</a>
            <a class="navbar-brand h1" routerLink="/admin-addmail" routerLinkActive="active">Tilføj Mails:</a>
        </li>
    </ul>








    <ul class="navbar-nav ms-auto p-2">

        <li class="nav-item " routerLink="admin-login" routerLinkActive="active">
            <a class="nav-link">
                <img src="../../../assets/gear.svg">
            </a>
        </li>




    </ul>




</nav>
<router-outlet></router-outlet>