<div class="row container-fluid">

    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="row align-items-center input-col  g-3">
            <div class="col text-center">
                <div class="p-1">
                    <h3>Indtast mail adresser som skal whitelistes:</h3>
                </div>
                
                <div class="inputContainer p-3">
                    <textarea #datainput rows="15" cols="45" [(ngModel)]="emails"></textarea>
                </div>
                <div class="p-1">
   
                    <button (click)="AddEmails(datainput.value)" class="btn btn-dark " [disabled]="!emails">Tilføj til whitelist</button>
                    
                </div>

                <div class="p-1" *ngIf="response!=''">
                    {{response}}
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>