<div class="row container-fluid infoBox">

    <div class="col-4"></div>

    <div class="col-4 align-items-center text-center pt-5">

        <form [formGroup]="SubmitForm" (ngSubmit)="NewPassword()">

            <h2>Indtast brugernavn og dit nye password:</h2>
            <div class="row inputContainer ">

                <div class="col-12">
                    <div class="row text-center p-1">
                        <input class="form-control" id="usernameInput"  placeholder="Brugernavn" formControlName="userName">
                    </div>
                </div>

                <div class="col-12">
                    <div class="row text-center p-1">
                        <input class="form-control" id="passwordInput" placeholder="Nyt password" formControlName="passWord" type="passWord">
                    </div>
                </div>

                <div class="col-12">
                    <div class="row text-center p-1">

                        <div class="col-md-4"></div>
                      
                        <div class="col-md-4">
                            <button class="btn btn-dark" type="submit" [disabled]="!SubmitForm.valid">Gem</button>
                            <div class="p-1" *ngIf="responseMessage !=''">
                                {{responseMessage}}
                            </div>
                        </div>

                        <div class="col-md-4"></div>


                    </div>
                </div>

            </div>

        </form>
    </div>

    <div class="col-4"></div>
</div>