.input-col{
    height: 80vh;
    
}


.inputContainer
{
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-bottom: 10px;
}