<div class="row container-fluid">

    <div class="col-3"></div>

    <div class="col align-items-center text-center pt-5">



        <div class="row ">
            <h2>Indhold følgemail:</h2>
            <div class="p-1 inputContainer">
                <textarea #datainput rows="7" [(ngModel)]='modifiedInfoText' (focus)="ResetFeedback()"></textarea>
            </div>
        </div>

        <!-- <div class="row">
            <h3>FølgeLink:</h3>
            <div class="p-1 inputContainer">
                <input #linkInput (focus)="ResetFeedback()" [(ngModel)]="link">
            </div>
        </div> -->

    </div>

    <div class="col-3"></div>
</div>

<div class="row container-fluid ">

    <div class="col-md-3"></div>
    <div class="col-md-6">

        <!--Header-->
        <div class="row  pt-5 text-center">
            <div class="col">

                <h2>Eksempel</h2>
            </div>
        </div>
       
        <!--example box-->
        <div class="row inputContainer">
            <div class="col-md-12">Hej &lt;VPN brugernavn&gt;</div>
            <br>
            <br>
            <div class="col-md-12" *ngIf="modifiedInfoText ==''">{{infotext}}</div>
            <p class="col-md-12 ">{{modifiedInfoText}}</p>
                
            <div class="col-md-12">Log på med &lt;VPN brugernavn&gt; og følgende kode: &lt;autogenereret kode&gt;</div>
        </div>

        <div class="row text-center">
            <div class="p-2">

                <button (click)="UpdateInfo(datainput.value)" class="btn btn-dark">Tilføj</button>
               <div class="col p-2" *ngIf="feedbackText !=''">{{feedbackText}}</div>
            </div>
        </div>


    </div>
    <div class="col-md-3"></div>

   
</div>